.nav-item a {
    color: blue;
}

a.dropdown-item {
    color: blue;
}

.card-header {
    font-weight: bolder;
}

.card-title {
    border-bottom: 1px dotted black;
    text-align: center;
}

.card-subtitle {
    border-bottom: 1px dotted grey;
    text-align: right;
}

.card-text {
    font-size: 1em;
}

div.Theft  .card-header {
    background-color: yellow;
}

div.Hazard .card-header {
    background-color: orange;
}

div.Theft {
    background-color: lightyellow;
}

div.Hazard {
    background-color: rgb(228, 193, 154);
}

div.Crash {
    background-color: lightpink;
}

div.Crash .card-header {
    background-color: red;
}