@media all and (min-width: 480px) {
    .Login {
      padding: 10px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .email {
 padding-bottom: 5%;
text-align: center;
    }
    .password {
        padding-bottom: 5%;
        align-items: center;
        text-align: center;
           }
  }

  h1 {
      padding: 5%;
      padding-bottom: 1%;
      text-align: center;
  }

  .loginButton {
      align-items: center;
  }

  

