.User {
    padding: 10px o;

}
h1 {
    padding: 5%;
    padding-bottom: 1%;
    text-align: center;
}

.Road-Bike {
    margin: 0 auto;
      max-width: 320px;
    }

.Gravel-Bike {
        margin: 0 auto;
        max-width: 320px;
    }

.Mountain-Bike {
    margin: 0 auto;
    max-width: 320px;
}

.setupButton {
    align-items: center;
}