.biker {
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
  }

  .navbar-brand {
    font-family: 'DM Serif Display', serif;
  }

  .navbar {
background-color: rgb(180, 238, 230);
  }